<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainPageServlet</servlet-name>
    <servlet-class>servlet.MainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPageServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakeGroupServlet</servlet-name>
    <servlet-class>servlet.MakeGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeGroupServlet</servlet-name>
    <url-pattern>/makeGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DirectMessageServlet</servlet-name>
    <servlet-class>servlet.DirectMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectMessageServlet</servlet-name>
    <url-pattern>/directMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupMessageServlet</servlet-name>
    <servlet-class>servlet.GroupMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupMessageServlet</servlet-name>
    <url-pattern>/groupMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyPageServlet</servlet-name>
    <servlet-class>servlet.MyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPageServlet</servlet-name>
    <url-pattern>/myPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowProfileServlet</servlet-name>
    <servlet-class>servlet.ShowProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProfileServlet</servlet-name>
    <url-pattern>/showProfile</url-pattern>
  </servlet-mapping>
</web-app>